/**
 * @package         Sliders
 * @version         7.7.6
 * 
 * @author          Peter van Westen <info@regularlabs.com>
 * @link            http://www.regularlabs.com
 * @copyright       Copyright © 2019 Regular Labs All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

#mySlidersTabs {
	> li {
		> a {
			border-color:     #eeeeee #eeeeee #dddddd;
			background-color: #f5f5f5;
			margin-right:     4px;
			&:hover,
			&:focus {
				background-color: #eeeeee;
			}
		}
		&.active a {
			border-color:        #dddddd;
			border-bottom-color: transparent;
			background-color:    #ffffff;
		}
	}
}

#mySlidersContent {
	h1 > span.icon-default {
		font-size:      18px;
		vertical-align: top;
	}
}
