{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="sample-content">
		<div class="g-grid">
			{% for sample in particle.samples %}
				<div {% if sample.id %}id="{{ sample.id|e }}"{% endif %}
					 class="g-block {{ sample.class }} {{ sample.variations }}">
					<div class="g-content">
						{% if sample.image %}<img src="{{ url(sample.image) }}" class="logo-large" alt="{{ sample.alttext|e }}" title="{{ sample.imagetitle|e }}" />{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}