/****** Colors ******/
$purple: #A20101; //rgb(162, 1, 1)
$red: #ED1D24; //rgb(237, 29, 36)
$redrgba: rgba(237, 29, 36, 0.75);
$yellow: #D9CC17; //rgb(217, 204, 23)
$black: #000000; //rgb(0,0,0)
$grey: #888;