/****** Mixins ******/
@mixin itemImage {
    box-shadow: 2px 2px $red;
    border-radius: 50%;
    padding: 0.2rem;
}

@mixin level( $levelcolor, $levelbackground) {
    .panel-heading {
        background: $levelbackground;
        a {
            color: $levelcolor;
        }
    }
}