/****** Modules ******/
.home-articles {
    div.k2ItemsBlock ul li {
        div.moduleItemIntrotext {
            padding: 0 0 0 1rem;
            p{
                margin-top: 0;
            }
            a.moduleItemImage {
                img {
                    float: none;
                }
            }
        }
    }

}

.home-profile {
    background: rgba(255,255,255,0.9);
}

/*** Login ***/
.modLogin {
    margin-top: 3rem;
    h3 {
        color: #aeaeae;
        margin: 0;
    }
}

/*** Levels ***/
.level {

    .levelContent {
        padding: 0 1rem;
    }
 
    .white {
        @include level($black, #fff);
    }
    .yellow {
        @include level($black, yellow);
    }
    .mauve {
        @include level(#fff, purple);
    }
    .orange {
        @include level(#fff, orange);
    }
    .green {
        @include level(#fff, green );
    }
    .red {
        @include level(#fff, $red);
    }
    .blue {
        @include level (#fff, blue);
    }
    .brown {
        @include level (#fff, brown);
    }
    .black {
        @include level(#fff, $black);
    }
    h2 {
        margin: 0;
    }
    h3 {
        text-decoration: underline;
    }    
}