/******** Custom scss file ********/
@import "dependencies";
@import "colors";
@import "mixins";
@import "k2";
@import "slideshow";
@import "modules";





/****** Typography ******/
body {
    font-size: 1.1rem;
}
p {
    margin: 0.5rem 0;
}

/****** Header ******/


/****** Navigation ******/
#g-navigation{
    box-shadow: 0px 2px 3px $red;
    .g-container {
        width: 90%;
        .g-content {
            padding: 0;
            margin: 0;
            .g-main-nav {
                margin-top: 2rem;
                .g-toplevel > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active {
                    background: none;
                    // text-shadow: 0px 0.5px $yellow;                    
                    a {
                        color: $red;
                        span {
                            span {
                                @include itemImage();
                                padding: 0.75rem;
                            }
                        }
                    }
                }
            }
            .gantry-logo {
                img {
                    width: 120px;
                    margin: 0.2rem;
                }
            }
        }
    }
}

#g-navigation.g-fixed-element {
    .g-container {
        .g-content {
            .gantry-logo {
                img {
                    width: 85px;
                }
            }
            .g-main-nav {
                margin-top: 1rem;
            }
        }
    }    
}



/****** Showcase ******/
#g-showcase {
    padding: 0;
    .g-container {
        width: 100%;
        .g-content {
            padding: 0;
            margin: 0;
        }
    }
}

/****** Feature ******/
.home #g-feature {
    background: url('/images/backgrounds/tiger-v.jpg') no-repeat fixed 0 50%;
    .home-profile {
        .sample-description {
            text-align: left;
        }        
    }
    #logos-4339-particle {
        padding: 0;
    }
    .logos {
        .g-grid {
            flex-direction: column;
            .g-content {
                padding: 0;
                margin: 0.2rem;
            }
        }
    }
    ul {
        list-style: none;
        li {
            display: block;
        }
    }
}


/****** Main ******/
.home #g-main {
    padding: 0;
}


/****** Intermediate ******/
#g-intermediate {
    background: url('../../../..//images/backgrounds/tiger-dragon.jpg') no-repeat;
    background-size: 100%;
    height: 500px;
    position: relative;
    .tiger {
        position: absolute;
        top: 30%;
        left: 0;
        blockquote {
            border-left: none;
            div{
                margin: 0;
                color: #fff;
                font-size: 1.4rem;
                line-height: 2;
                text-align: center;
                color: #fff;
                background: $redrgba;
                width: 75%;
                padding: 0.8rem;
                border: 0;
                display: block;
                margin: 0 auto;
                border-radius: 7px;                
            }
        }
    }
}

/****** Subfeature ******/

/****** Footer ******/
#g-footer{
    color: $red;
    a, p {
        &:hover {
            color: #fff;
        }
    }
    p {
        margin-top: 0;
    }
    ul {
        margin: 0;
        li {
            margin-bottom: 1rem;
            display: flex;
        }
    }

}

/****** K2 ******/
#k2Container {
    background: #fff;
}

/*** Category ***/
div.catItemView {
    padding: 0 1.5rem;  
}
div.catItemBody{
    div.catItemImageBlock {
        padding: 1rem 1rem 0 0;
        margin: 0;
        img {
            @include itemImage();
        }
    }

}  
div.catItemReadMore {
    padding: 0 1.5rem;
    a {
        box-shadow: 1px 1px 1px;
        border-radius: 20px;
        padding: .75rem;
        color: #000;
        &:hover {
            color: $red;
        }
    }
}

.blog {
    div.itemListCategory {
        background: $purple;
        color: #fff;
        border: 1px solid $black;
        padding: 1rem;
        box-shadow: 1px 3px 3px 3px $grey;
        border-radius: 7px;
        h1 {
            color: #fff;
            margin: 0;
        }
    }
    div.catItemReadMore {
        margin-top: 2rem;
    }
}

/*** Item ***/
div.itemHeader {
    position: relative;
    margin-bottom: 1rem;
    h1 {
        margin: 0;
        padding: 0 0 0.2rem 0;
    }
    .underline {
        border: 2px solid $red;
        position: absolute;
        left: 30%;
        right: 30%;
        margin-bottom: 1rem;
    }
    div.itemToolbar {
        padding: 0;
        margin: 0;
    }
}
div.itemToolbar {
    padding: 0;
    margin: 0;
    background: no-repeat;
    border-radius: 0;
}

div.itemImageBlock{
    margin: 0 1rem 0 0;
    span.itemImage {
        // background: $red;
        border-radius: 5px;
        margin: 0;
        img {
            width: 100%;
            @include itemImage();
        }
    }
}
div.itemIntroText {
    color: inherit;
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
    padding: 0;
}

.kungfupage div.itemView {
    ol {
        background: $purple;
        color: $white;
        border: 1px solid $black;
        padding: 1.5rem;
        box-shadow: 1px 3px 3px 3px $grey;
        border-radius: 7px;
        li {
            margin-bottom: 1rem;
            margin-left: 2rem;
        }
    }
}

/****** Contact ******/




/****** Media Queries ******/


// Typical values are the default breakpoints set in Gantry 5
// but these values are user definable in style settings
// so that is why the code below uses mixins to get the actual 
// values from Gantry 5 template.

// commonly used media queries

//  typically min 75rem 
@include breakpoint(large-desktop-range) {
    
}
// typically range 60rem to 74.938rem 
@include breakpoint(desktop-range) {

}

@media screen and (width: 1280px) {
    #g-navigation {
        .g-container {
            width: 100%;
        }
    }
    #g-intermediate .tiger blockquote div {
        font-size: 1.1rem;
    }
}

// typically 48rem to 59.938rem
@include breakpoint(tablet-range) {
    #g-navigation .g-container .g-content .g-main-nav {
        margin-top: 0;
    }
}
// typically 30rem to 47.938rem
@include breakpoint(large-mobile-range) {

}
// typically max 30rem
@include breakpoint(small-mobile-range) {

}

// Less commonly used media queries

// typically min 60rem
@include breakpoint(desktop-only) {

}
// typically min 48rem
@include breakpoint(no-mobile) {

}
// typically max 47.938 rem
@include breakpoint(mobile-only) {

    
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    p {
        font-size: 1.1rem;
    }
    .home #g-feature {
        background: none;
    }

    #g-subfeature  {
        padding: 1rem 0.5rem;
    }
    .home-articles {
        img {
            margin-bottom: 1rem;
        }
        div.k2ItemsBlock ul li {
            margin-bottom: 3rem;
        }
    }

}
// typically max 59.938rem
@include breakpoint(no-desktop) {

}

// Mobile Menu Breakpoint
@media only all and (max-width: $breakpoints-mobile-menu-breakpoint) { }

@import "nucleus/mixins/breakpoints"